body, html {
    height: 100%;
    margin: 0;
}

.tab {
    width: 100%;
    padding: 14px 16px;
    cursor: pointer;
    outline: none;
    border: none;
    float: left;
    color: black;
}

.tab:hover {
    background-color: red;
}

.tabcontent {
    color:black;
    display: none;
}

.container {
    display:flex;
    height:100%
}

.sidebar {
    flex: 1;
    background-color:lightblue;
}

.mainpane {
    flex: 5;
    background-color:grey;
}

#Store {background-color: grey;}
#Settings {background-color: lightgrey};