body, html {
    height: 100%;
    margin: 0;
}

.tab {
    width: 100%;
    padding: 14px 16px;
    cursor: pointer;
    outline: none;
    border: none;
    float: left;
    color: black;
}

.tab:hover {
    background-color: red;
}

.tabcontent {
    color:black;
    display: grid;
    height: 100%;
    flex:5;
}

.container {
    display:flex;
    height:100%
}

.sidebar {
    flex: 1;
    background-color:lightblue;
    height:100%
}

.mainpane {
    flex:6;
    display: flex;
    height: 100%
}

.leftstore {
    order: 1;
    float: left;
    height: 80%;
}

.storefront {
    order: 2;
    background-color:lightgrey;
    height: 80%;
    overflow-y: scroll;
    float:left;
}

.rightstore {
    order: 3;
    height: 80%;
    float:left;
}



#Store {background-color: grey;}
#Settings {background-color: lightgrey};