{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'distrib.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pills-bottle.ico' %}"/>
    <title>Online Pharmacy</title>
</head>
<body>
    <!-- learned how to do tabs from w3schools.com -->
    <!-- https://www.w3schools.com/howto/howto_js_full_page_tabs.asp-->


    <div class="container"> 
        <div class="sidebar">
            <button class="tab" class="storetab" id="default" onclick="getTab('Store', this)">Manage/View Medicines</button>
            <div class="tabspacer"></div>
            <button class="tab" class="add_meds_tab" onclick="getTab('Add_Meds', this)">Add New Medicines</button>
            <form method = "post" action="/logout/">
                {% csrf_token%}
                <!--Log out of the account -->
                <button type="submit" class="tab" class="logouttab">Logout</button>
            </form>
            
        </div>
        <div class="mainpane">
            <div id="Store" class="tabcontent">
                <div class="storetitle"><center><h2>Storefront</h2></center></div>
                <div class="leftstore">
                    <div class="distribmeds">
                        <center>Your Products</center>
                         <!--For every medication associated with the distributer, list it. -->
                        {% for medication in meds %}
                            <li>
                               <label>{{medication.med_name}}</label> 
                            </li>
                        {% endfor %}
                    </div>
                </div>
                <table class="storefront">
                    <!-- https://www.w3schools.com/tags/tag_td.asp -->
                    <tr class = "inv_row">
                        <th class = "inv_cell">Medication</th>
                        <th class = "inv_cell">Pharmacy Location</th>
                        <th class = "inv_cell">Per Unit Price ($)</th>
                        <th class = "inv_cell">Units remaining</th>
                    </tr>
                    <!--For every inventory associated with the distributer, create a row. -->
                    {% for inventory in inventories %}
                        <tr class = "inv_row">
                            <td class = "inv_cell">{{inventory.med_name.med_name}}</td>
                            <td class = "inv_cell">{{inventory.pharmacy_location}}</td>
                            <td class = "inv_cell">{{inventory.unit_price}}</td>
                            <td class = "inv_cell">{{inventory.amount_left}}</td>
                        </tr> 
                    {% endfor %}
                </table>
                <div class="rightstore">
                </div>
            </div>
            <div id="Add_Meds" class="tabcontent">
                <h3>Add new medication</h3>
                <form method="post">
                    {% csrf_token%}
                    {% bootstrap_form add_med_form %}
                    {% bootstrap_button button_type="submit" content="Add medication" %}
                </form>
            </div>
        </div>
    </div>

    <script>
        function getTab(tabName, e) {
            var i, tabcon, tablinks;
            tabcon = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "grid";
        }
        document.getElementById("default").click();
    </script>

</body>
</html>



