{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'distrib.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pills-bottle.ico' %}"/>
    <title>Online Pharmacy</title>
</head>
<body>
    <!-- learned how to do tabs from w3schools.com -->
    <!-- https://www.w3schools.com/howto/howto_js_full_page_tabs.asp-->


    <div class="container"> 
        <div class="sidebar">
            <button class="tab" class="storetab" id="default" onclick="getTab('Store', this)">Manage/View Medicines</button>
            <button class="tab" class="add_meds_tab" onclick="getTab('Add_Meds', this)">Add New Medicines</button>
            <button class="tab" class="add_ingredients_tab" onclick="getTab('Add_Ingredients', this)">Add New Ingredients</button>
            <form method = "post" action = "/logout/" style="margin-top:auto">
                {% csrf_token%}
                <!--Log out of the account -->
                <button class="tab" type="submit">Logout</button>
            </form>
            
        </div>
        <div class="mainpane">
            <div id="Store" class="tabcontent">
                <div class="storetitle"><center><h2>Storefront</h2></center></div>
                <div class="leftstore">
                    <div class="distribmeds">
                        <h5><center>Your Products</center></h5>
                         <!--For every medication associated with the distributer, list it. -->
                        <input type = "hidden" value = "" id = "med_flag"> <!-- hidden for js access-->
                        {% for medication in meds %}
                        <div style = "display: flex">
                            <!--Each button should serve as a filter for ingredients associated with the selected medicine-->
                            <button id = "med_filter" class = "med_button" type = "button"  onclick = "toggleIngredients('{{medication.med_name}}')">{{medication.med_name}}</button> 
                            <form method = "post" action="/delete_med/">
                                {% csrf_token%}
                                <!--Log out of the account -->
                                <button name = "del_med_button" value = "{{medication.med_name}}"type="submit" class="delete">X</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class = "storefront">
                    <table id ="store_table">
                        <!-- Learned Tables from:-->
                        <!-- https://www.w3schools.com/tags/tag_td.asp -->
                        <tr class = "inv_row">
                            <th class = "inv_cell">Medication</th>
                            <th class = "inv_cell">Pharmacy Location</th>
                            <th class = "inv_cell">Per Unit Price ($)</th>
                            <th class = "inv_cell">Units remaining</th>
                            <th class = "inv_cell">Inventory Actions</th>
                        </tr>
                        <!--For every inventory associated with the distributer, create a row. -->
                        {% for inventory in inventories %}
                            <tr class = "inv_row">
                                <td class = "inv_cell">{{inventory.med_name.med_name}}</td>
                                <td class = "inv_cell">{{inventory.pharmacy_location}}</td>
                                <td class = "inv_cell">{{inventory.unit_price}}</td>
                                <td class = "inv_cell">{{inventory.amount_left}}</td>
                                <td class = "supply_cell">
                                    <form method = "post" action="/supply_inventory/">
                                        {% csrf_token%}
                                        <!--Supply to an inventory -->
                                        <input style = "width:70px" min = "1" type = "Number" name = "Qty" placeholder = "Qty" value = "1">
                                        <button name = "supply_inv_button" value = "{{inventory.inv_id}}"type="submit" class="add">+</button>
                                    </form>
                                </td>
                            </tr> 
                        {% endfor %}
                    </table>
                    <div id ="ingredients_list">
                        <h5 id = "add_new_ingredients_header"></h5>
                        <form method="post">
                            {% csrf_token%}
                            {% bootstrap_form add_med_ing_form %}

                             <!-- This field is required for the database -->
                            <input id="form_med_name" name="med_name" type="hidden" value = "">

                            {% bootstrap_button button_type="submit" content="Add Ingredient" %}
                        </form>
                        <br>
                        <h5 id = "current_ingredients_header"></h5>
                        <!--For every ingredient associated with the selected medication, create a row. -->
                        {% for Ingredient in med_ingredients %}
                        <!--https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset-->
                            <div class = "ing_div" style = "display: none" data-medName = "{{Ingredient.med_name}}" data-iupacName = "{{Ingredient.iupac_name}}">
                                <label class = "ing_label">{{Ingredient.iupac_name}}</label>
                                <form method = "post" action="/delete_med_ing/">
                                    {% csrf_token%}
                                    <input name = "selected_ing" value = "{{Ingredient.iupac_name}} "type = "hidden">
                                    <button name = "del_med_ing" value = "{{Ingredient.med_name}}"type="submit" class="delete_med_ing">X</button>
                                </form>
                            </div> 
                        {% endfor %}
                    </div>
                </div>
                <div class="rightstore">
                </div>
            </div>
            <div id="Add_Meds" class="tabcontent">
                <h3>Add new medication</h3>
                <form method="post">
                    {% csrf_token%}
                    {% bootstrap_form add_med_form %}
                    {% bootstrap_button button_type="submit" content="Add medication" %}
                </form>
            </div>
            <div id="Add_Ingredients" class="tabcontent" style = "display:block">
                <div style = "display:block">
                    <h3>Add new ingredient</h3>
                    <form method="post">
                        {% csrf_token%}
                        {% bootstrap_form add_ing_form %}
                        {% bootstrap_button button_type="submit" content="Add ingredient to Database" %}
                    </form>
                    <div style = "display: block"> 
                        {% for Ingredient in all_ingredients %}
                            <div class = "ing_div_main" style = "display:flex">
                                <label class = "ing_label">{{Ingredient.iupac_name}}</label>
                                <form method = "post" action="/delete_ing/">
                                    {% csrf_token%}
                                    <button name = "del_ing" value = "{{Ingredient.iupac_name}}"type="submit" class="delete_ing">X</button>
                                </form>
                            </div> 
                        {% endfor %}
                    </div>
                  
                </div>
               
            </div>

        </div>
    </div>

    <script>
        function getTab(tabName, e) {
            var i, tabcon, tablinks;
            tabcon = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "grid";
        }

        ingredients_tab = document.getElementById("ingredients_list");
        store_tab = document.getElementById("store_table");
        med_flag = document.getElementById("med_flag");
        med_ingredients = {{med_ingredients|safe}};
        //console.log(med_ingredients);
        // Grab every instance of ing_label:
        // https://www.w3schools.com/jsref/met_document_queryselectorall.asp
        ingredients = document.querySelectorAll(".ing_div")
        //https://www.w3schools.com/css/css_display_visibility.asp
        //https://www.geeksforgeeks.org/how-to-find-out-if-an-element-is-hidden-with-javascript/
        function toggleIngredients(medication) {

            if(ingredients_tab.style.display === "none" && med_flag.value === "")
            {
                ingredients_tab.style.display = "block";
                store_tab.style.display = "none";
                med_flag.value = medication;

                // Update the form's hidden fields:
                document.getElementById("form_med_name").value = medication;

                // Change the add new ingredients header
                dynamic_header = document.getElementById("add_new_ingredients_header");
                dynamic_header.textContent = "Current Ingredients in " + medication + ":";

                // Change the current ingredients header
                dynamic_header_2 = document.getElementById("current_ingredients_header");
                dynamic_header_2.textContent = "Current Ingredients in " + medication + ":";

                // use a for each loop:
                // https://www.w3schools.com/jsref/jsref_foreach.asp
                ingredients.forEach(ingredientsLoop);     
            }
            else if (ingredients_tab.style.display === "block" && med_flag.value !== medication)
            {
                med_flag.value = medication;
                console.log(medication);

                // Update the form's hidden fields:
                document.getElementById("form_med_name").value = medication;

                // Change the add new ingredients header
                dynamic_header = document.getElementById("add_new_ingredients_header");
                dynamic_header.textContent = "Current Ingredients in " + medication + ":";

                // Change the current ingredients header
                dynamic_header_2 = document.getElementById("current_ingredients_header");
                dynamic_header_2.textContent = "Current Ingredients in " + medication + ":";
          
                // use a for each loop:
                // https://www.w3schools.com/jsref/jsref_foreach.asp
                ingredients.forEach(ingredientsLoop);   
            }
            else
            {
                ingredients_tab.style.display = "none";
                store_tab.style.display = "block";
                store_tab.style.width = "100%";
                store_tab.style.tableLayout = "fixed";
                med_flag.value = "";
            }
            
          
        }

        function ingredientsLoop(ingredient)
        {

            if(ingredient.dataset.medname === med_flag.value)
            {
                ingredient.style.display = "flex";
            }
            else
            {
                ingredient.style.display = "none";
            }
        }
        document.getElementById("default").click();
    </script>

</body>
</html>



