{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'distrib.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pills-bottle.ico' %}"/>
    <title>Online Pharmacy</title>
</head>
<body>
    <!-- learned how to do tabs from w3schools.com -->
    <!-- https://www.w3schools.com/howto/howto_js_full_page_tabs.asp-->


    <div class="container"> 
        <div class="sidebar">
            <button class="tab" class="storetab" id="default" onclick="getTab('Store', this)">Manage/View Medicines</button>
            <div class="tabspacer"></div>
            <button class="tab" class="add_meds_tab" onclick="getTab('Add_Meds', this)">Add New Medicines</button>
            <button class="tab" class="add_ingredients_tab" onclick="getTab('Add_Ingredients', this)">Add New Ingredients</button>
            <form method = "post" action="/logout/">
                {% csrf_token%}
                <!--Log out of the account -->
                <button type="submit" class="tab" class="logouttab">Logout</button>
            </form>
            
        </div>
        <div class="mainpane">
            <div id="Store" class="tabcontent">
                <div class="storetitle"><center><h2>Storefront</h2></center></div>
                <div class="leftstore">
                    <div class="distribmeds">
                        <h5><center>Your Products</center></h5>
                         <!--For every medication associated with the distributer, list it. -->
                        <input type = "hidden" value = "" id = "med_flag"> <!-- hidden for js access-->
                        {% for medication in meds %}
                            <!--Each button should serve as a filter for ingredients associated with the selected medicine-->
                            <button id = "med_filter" class = "med_button" type = "button"  onclick = "toggleIngredients('{{medication.med_name}}')">{{medication.med_name}}</button> 
                        {% endfor %}
                    </div>
                </div>
                <div class = "storefront">
                    <table id ="store_table">
                        <!-- https://www.w3schools.com/tags/tag_td.asp -->
                        <tr class = "inv_row">
                            <th class = "inv_cell">Medication</th>
                            <th class = "inv_cell">Pharmacy Location</th>
                            <th class = "inv_cell">Per Unit Price ($)</th>
                            <th class = "inv_cell">Units remaining</th>
                        </tr>
                        <!--For every inventory associated with the distributer, create a row. -->
                        {% for inventory in inventories %}
                            <tr class = "inv_row">
                                <td class = "inv_cell">{{inventory.med_name.med_name}}</td>
                                <td class = "inv_cell">{{inventory.pharmacy_location}}</td>
                                <td class = "inv_cell">{{inventory.unit_price}}</td>
                                <td class = "inv_cell">{{inventory.amount_left}}</td>
                            </tr> 
                        {% endfor %}
                    </table>
                    <div id ="ingredients_list">
                        <h5 id = "add_new_ingredients_header"></h5>
                        <form method="post">
                            {% csrf_token%}
                            {% bootstrap_form add_med_ing_form %}

                             <!-- This field is required for the database -->
                            <input id="form_med_name" name="med_name" type="hidden" value = "">

                            {% bootstrap_button button_type="submit" content="Add Ingredient" %}
                        </form>
                        <br>
                        <h5 id = "current_ingredients_header"></h5>
                        <!--For every ingredient associated with the selected medication, create a row. -->
                        {% for Ingredient in med_ingredients %}
                            <p><button class = "ing_button" value = "{{Ingredient.iupac_name}}" style = "display: none">{{Ingredient.iupac_name}}</button></p> 
                        {% endfor %}
                    </div>
                </div>
                <div class="rightstore">
                </div>
                <div class = "interactive_view">
       
                </div>
            </div>
            <div id="Add_Meds" class="tabcontent">
                <h3>Add new medication</h3>
                <form method="post">
                    {% csrf_token%}
                    {% bootstrap_form add_med_form %}
                    {% bootstrap_button button_type="submit" content="Add medication" %}
                </form>
            </div>
            <div id="Add_Ingredients" class="tabcontent">
                <h3>Add new ingredient</h3>
                <form method="post">
                    {% csrf_token%}
                    {% bootstrap_form add_ing_form %}
                    {% bootstrap_button button_type="submit" content="Add ingredient to Database" %}
                </form>
            </div>

        </div>
    </div>

    <script>
        function getTab(tabName, e) {
            var i, tabcon, tablinks;
            tabcon = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "grid";
        }

        ingredients_tab = document.getElementById("ingredients_list");
        store_tab = document.getElementById("store_table");
        med_flag = document.getElementById("med_flag");
        med_ingredients = {{med_ingredients|safe}};
        //console.log(med_ingredients);
        // Grab every instance of ing_button:
        // https://www.w3schools.com/jsref/met_document_queryselectorall.asp
        ingredients = document.querySelectorAll(".ing_button");
        filtered_meds = null;
        //https://www.w3schools.com/css/css_display_visibility.asp
        //https://www.geeksforgeeks.org/how-to-find-out-if-an-element-is-hidden-with-javascript/
        function toggleIngredients(medication) {

            if(ingredients_tab.style.display === "none" && med_flag.value === "")
            {
                ingredients_tab.style.display = "block";
                store_tab.style.display = "none";
                med_flag.value = medication;

                // Update the form's hidden fields:
                document.getElementById("form_med_name").value = medication;

                //console.log(medication);
                  
                //https://www.w3schools.com/jsref/jsref_filter.asp
                //https://www.w3schools.com/jsref/jsref_map.asp
                filtered_meds = med_ingredients.filter(selectMed).map(grabIupacNames);

                // Change the add new ingredients header
                dynamic_header = document.getElementById("add_new_ingredients_header");
                dynamic_header.textContent = "Current Ingredients in " + medication + ":";

                // Change the current ingredients header
                dynamic_header_2 = document.getElementById("current_ingredients_header");
                dynamic_header_2.textContent = "Current Ingredients in " + medication + ":";


                //console.log(filtered_meds);

                // use a for each loop:
                // https://www.w3schools.com/jsref/jsref_foreach.asp
                ingredients.forEach(ingredientsLoop);     
            }
            else if (ingredients_tab.style.display === "block" && med_flag.value !== medication)
            {
                med_flag.value = medication;
                console.log(medication);

                // Update the form's hidden fields:
                document.getElementById("form_med_name").value = medication;

                //https://www.w3schools.com/jsref/jsref_filter.asp
                filtered_meds = med_ingredients.filter(selectMed).map(grabIupacNames);

                // Change the add new ingredients header
                dynamic_header = document.getElementById("add_new_ingredients_header");
                dynamic_header.textContent = "Current Ingredients in " + medication + ":";

                // Change the current ingredients header
                dynamic_header_2 = document.getElementById("current_ingredients_header");
                dynamic_header_2.textContent = "Current Ingredients in " + medication + ":";
          
                // use a for each loop:
                // https://www.w3schools.com/jsref/jsref_foreach.asp
                ingredients.forEach(ingredientsLoop);   
            }
            else
            {
                ingredients_tab.style.display = "none";
                store_tab.style.display = "block";
                store_tab.style.width = "100%";
                store_tab.style.tableLayout = "fixed";
                med_flag.value = "";
            }
            
          
        }

        // filter method for medications
        function selectMed(medication)
        {
            if(medication.med_name === med_flag.value)
            {
                return medication;
            }
        }

        // mapping method for medications
        function grabIupacNames(medication)
        {
            return medication.iupac_name;
        }

        function ingredientsLoop(ingredient)
        {
            med_flag = document.getElementById("med_flag");
            if(filtered_meds.includes(ingredient.value))
            {
                ingredient.style.display = "block";
            }
            else
            {
                ingredient.style.display = "none";
            }
        }
        document.getElementById("default").click();
    </script>

</body>
</html>



