{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pills-bottle.ico' %}"/>
    <title>Online Pharmacy</title>
</head>
<body>
    <!-- learned how to do tabs from w3schools.com -->
    <!-- https://www.w3schools.com/howto/howto_js_full_page_tabs.asp-->


    <div class="container"> 
        <div class="sidebar">
            <button class="tab" id="default" onclick="getTab('Store', this)">Store</button>
            <button class="tab" onclick="getTab('Allergies', this)">Allergies</button>
            <button class="tab" onclick="getTab('Insurance', this)">Insurance</button>
            <button class="tab" onclick="getTab('Prescriptions', this)">Prescriptions</button>
            <form method = "post" action = "/logout/" style="margin-top:auto">
                {% csrf_token%}
                <!--Log out of the account -->
                <button class="tab" type="submit">Logout</button>
            </form>
        </div>
        <div class="mainpane">
            <div id="Store" class="tabcontent">
                <div class="storetitle"><center><h2>Storefront</h2></center></div>
                <div class="leftstore">
                </div>
                {% for med in meds %}
                    <div class="storefront" name="storefocus" id="{{ med.med_name }}" style="display:none; ">
                        <h1>{{ med.med_name }}</h1>
                        <hr>
                        {% if med in allrgmeds %}
                        <label style="color:red"><strong>Allergy Status: You are allergic to this medication!</strong></label><br>
                        {% else %}
                        Allergy Status: No allergies found for this medication. <br>
                        {% endif %}
                        {% for inventory in inventories %}
                        {% endfor %}
                        <hr>
                        <button onclick="goBackToMainStore()">Back to Store</button>
                        
                    </div>
                {% endfor %}
                
                <div class="storefront" id="storefrontmain" style="display:flex; flex-wrap:wrap">
                    {% for med in meds %}
                    <button class="storemedbutton" style="margin: 3px; width:32%; height:200px; border: 2px solid blue"
                    onClick="getMedFront('{{ med.med_name }}')">
                        {{ med.med_name }}
                    </button>
                    {% endfor %}
                </div>
                <div class="rightstore">
                </div>
            </div>
            <div id="Allergies" class="tabcontent">
                <div class="allrcontent" >
                    <h3>Allergies tab</h3>
                    <form method="post" class="addallrdiv" action="/user_create_allergy/" style="margin: 10px; border: 2px solid
                     blue; padding:5px; background-color:lightgray;">
                        {% csrf_token %}
                        
                        Add New Allergy<br>
                        Symptoms:
                        <input type="text" name="sympinp" class="ptypein"><br>
                        Ingredient:
                        <select class="ingrselect" name="ingrinput">
                            <option value="" selected disabled hidden>Select an ingredient</option>
                            {% for ingredient in ingredients %}
                                <option value="{{ ingredient.iupac_name }}">{{ ingredient.common_name }}</option>
                            {% endfor %}
                        </select>
                        <button class="addallr">Submit</button> 
                    </form>
                <div>
                    {% for allergy in allergies %}
                        <div style="margin:20px; border: 2px solid red; padding:5px; background-color:lightgray;">
                            Allergy {{ forloop.counter }} <br>
                            Symptoms: {{ allergy.symptoms }} <br>
                            Ingredient: {{ allergy.ingredient_id.common_name }}<br>
                            <form method="post" action="/user_delete_allergy/">
                                {% csrf_token %}
                                <button name="delbutton" value="{{ allergy.pk }}">Delete Allergy {{ forloop.counter }}</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                </div>
                
                
            </div>
            <div id="Insurance" class="tabcontent">
                <div class="inscontent">
                    <div class="addallrdiv">
                        <h3>Insurance Tab</h3>
                        <form method="post" action="/user_create_insurance/" style="margin: 10px; border: 2px solid
                        blue; padding:5px; background-color:lightgray;">
                            {% csrf_token %}
                            
                            Add New Insurance Plan<br>
                            Insurance Type:
                            <input type="text" name="insurancetypeinput" class="instypein">
                            <button name="addins">Submit</button> 
                        </form>
                        <form method="post" action="/user_create_coverage/" style="margin: 10px; border: 2px solid
                        blue; padding:5px; background-color:lightgray;">
                            {% csrf_token %}
                            
                            Add Coverage to Insurance:<br>
                            Insurance Plan:
                            <select class="ingrselect" name="insselect">
                                <option value="" selected disabled hidden>Select a plan</option>
                                {% for plan in plans %}
                                    <option value="{{ plan.health_insurance_field }}">{{ plan.coverage_type }} - ID#{{ plan.health_insurance_field }}</option>
                                {% endfor %}
                            </select><br>
                            Prescription Coverage:
                            <select class="ingrselect" name="covpres">
                                <option value="" selected disabled hidden>Select a prescription</option>
                                {% for prescription in prescriptions %}
                                    <option value="{{ prescription.pk }}">{{ prescription.prescription_name }}</option>
                                {% endfor %}
                            </select><br>
                            Coverage Amount (%):
                            <input type="text" name="covperc" class="instypein"><br>
                            <button name="addins">Submit</button> 
                        </form>

                    </div>
                    {% for plan in plans %}
                        <div style="margin:20px; border: 2px solid red; padding:5px; background-color:lightgray;">
                            Insurance Plan ID#{{ plan.health_insurance_field }} <br>
                            Insurance Type: {{ plan.coverage_type }} <br>
                                {% for cov in covs %}
                                {% if cov.health_insurance_field == plan %}
                                <div style="margin:20px; border: 2px solid red; padding:5px; background-color:lightgray;">
                                    Prescription Coverage: {{cov.rx_number.prescription_name}}<br>
                                    Coverage Amount: {{cov.coverage_amount}}%
                                </div>
                                {% endif %}
                                {% endfor %}
                            <form method="post" action="/user_delete_insurance/">
                                {% csrf_token %}
                                <button name="plandelbutton" value="{{ plan.health_insurance_field }}">Delete Plan</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div id="Prescriptions" class="tabcontent">
                <div class="prescontent">
                    <h3>Prescriptions tab</h3>
                    <form method="post" class="addpresdiv" action="/user_create_pres/" style="margin: 10px; border: 2px solid
                     blue; padding:5px; background-color:lightgray;">
                        {% csrf_token %}
                        
                        Add New Prescription:<br>
                        Rx Number:
                        <input type="text" name="presrxinput" class="pnamein">
                        <br>
                        Medicine Name:
                        <input type="text" name="presnameinput" class="pnamein">
                        <br>
                        Prescription Amount:
                        <input type="text" name="presamountinput" class="ptypein"> 
                        <br>
                        Refill Date:
                        <input type="date" name="presrefilldate" class="ptypein">
                        <button class="addpres">Submit</button> 
                    </form>
                    {% for prescription in prescriptions %}
                        <div style="margin:20px; border: 2px solid red; padding:5px; background-color:lightgray;">
                            Prescription Rx: {{ prescription.rx_number }} <br>
                            Medicine Name: {{ prescription.prescription_name }} <br>
                            Prescription Amount: {{ prescription.dosage }} <br>
                            Refill Date: {{ prescription.refill_date }}<br>
                            <form method="post" action="/user_delete_pres/">
                                {% csrf_token %}
                                <button name="presdelbutton" value="{{ prescription.rx_number }}">Delete Prescription {{ prescription.pk }}</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
    </div>

    <script>
        function getTab(tabName, e) {
            var i, tabcon;
            tabcon = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcon.length; i++) {
                tabcon[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "grid";
        }
        function getMedFront(medname) {
            var i, medcon;
            medcon = document.getElementsByClassName("storefront");
            for (i = 0; i < medcon.length; i++) {
                medcon[i].style.display = "none";
            }

            document.getElementById(medname).style.display = "block";
        }
        function goBackToMainStore() {
            var i;
            sfronts = document.getElementsByClassName("storefront");
            for (i = 0; i < sfronts.length; i++) {
                sfronts[i].style.display = "none";
            }
            
            document.getElementById('storefrontmain').style.display = "flex";
        }
        
        document.getElementById("default").click();
    </script>

</body>
</html>


