{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>this is the user page</h1>
    {% if  logged_in %}
        <p>User: {{logged_in}}</p>
        <form method = "post" action = "/logout/">
            {% csrf_token%}
            <!--Log out of the account -->
            <button type="submit">Logout</button> 
        </form>
    {% endif %}
</body>
</html>